*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Loto', sans-serif;
}

header {
  font-size: 5rem;
  font-weight: 300;
  text-align: center;
}

header i {
  color: #0080b2;
}

header span {
  color: #077daa;
}

.form label {
  font-size: 1.2rem;
  color: gray;
}

.table table thead tr th {
  color: #363636;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
}

.table tbody tr td {
  font-size: 1.2rem;
  color: #5a5a5a;
}

.table tbody tr td a {
  text-align: center;
  color: white;
  font-size: 1rem;
  text-decoration: none;
}

.primary-button {
  width: 100%;
  border: none;
  background-color: #0080b2;
  padding: 1rem;
  color: white;
}

.table-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: red;
  width: 1.8rem;
  height: 1.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-button:hover {
  background: #d60707;
}

.form {
  width: 100%;
}

.form__group:not(:first-child) {
  margin-top: 2rem;
}

.form__group label {
  display: block;
  padding: 5px 0;
}

.form__group input {
  padding: 7px;
  width: 100%;
}

.table table {
  display: block;
}

.table table thead {
  display: block;
  padding: 5rem 0 1rem 0;
}

.table table thead tr {
  display: block;
  width: 100%;
}

.table table thead tr::after {
  content: '';
  display: table;
  clear: both;
}

.table table thead tr th {
  display: block;
  float: left;
  width: 25%;
  margin-left: 1rem;
}

.table table tbody {
  display: block;
  border-top: #363636;
}

.table table tbody tr {
  display: block;
  width: 100%;
}

.table table tbody tr::after {
  content: '';
  display: table;
  clear: both;
}

.table table tbody tr:nth-of-type(odd) {
  background: #f3f2f3;
}

.table table tbody tr td {
  float: left;
  width: 20%;
  padding: 1rem;
}

.table table tbody tr td:not(:first-child) {
  margin-left: 4.5rem;
}

.error {
  background: red;
  color: white;
  padding: 1rem;
}

.success {
  background: green;
  color: white;
  padding: 1rem;
}

.remove {
  background: blue;
  color: white;
  padding: 1rem;
}

header {
  padding: 3rem;
}

.row {
  max-width: 70rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: '';
  display: table;
  clear: both;
}

.row [class^='col'] {
  float: left;
}

.row [class^='col']:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-1 {
  width: 100%;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.row .col-2-of-3 {
  width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}
/*# sourceMappingURL=main.css.map */