.table {
  //   outline: 1px solid red;

  table {
    display: block;

    thead {
      display: block;
      padding: 5rem 0 1rem 0;
      tr {
        display: block;
        width: 100%;
        @include clearfix;

        th {
          display: block;
          float: left;
          width: 25%;
          margin-left: 1rem;
        }
      }
    }

    tbody {
      display: block;
      border-top: $color-table-font-dark;

      tr {
        display: block;
        width: 100%;
        @include clearfix;

        &:nth-of-type(odd) {
          background: $color-table-tbody-tr-background;
        }

        td {
          float: left;
          width: 20%;
          padding: 1rem;

          &:not(:first-child) {
            margin-left: 4.5rem;
          }
        }
      }
    }
  }
}
