.table {
  //   outline: 1px solid red;

  table {
    display: block;

    thead {
      display: block;
      border-bottom: 1px solid gray;
      padding: 5rem 0 1rem 0;
      tr {
        display: block;
        width: 100%;
        @include clearfix;

        th {
          display: block;
          float: left;
          width: 25%;
          margin-left: 1rem;
        }
      }
    }
  }
}
