// body
body {
  font-family: 'Loto', sans-serif;
}

// header
header {
  font-size: $header-font-size;
  font-weight: 300;
  text-align: center;

  i {
    color: $color-primary;
  }
  span {
    color: $color-span;
  }
}

// form
.form {
  label {
    font-size: $label-font-size;
    color: $color-label-font;
  }
}

// table
.table {
  table {
    thead {
      tr {
        th {
          color: $color-table-font-dark;
          font-size: $table-font-size;
          font-weight: 600;
          text-align: left;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        font-size: $table-font-size;
        color: $color-table-font-light;
        a {
          text-align: center;
          color: white;
          font-size: 1rem;
          text-decoration: none;
        }
      }
    }
  }
}
