body {
  font-family: 'Loto', sans-serif;
}

header {
  font-size: $header-font-size;
  font-weight: 300;
  text-align: center;

  i {
    color: $color-primary;
  }
  span {
    color: $color-span;
  }
}

.form {
  label {
    font-size: $label-font-size;
    color: $color-label-font;
  }
}
