// color
$color-primary: #0080b2;
$color-span: #077daa;
$color-label-font: rgb(128, 128, 128);
$color-table-font-light: rgb(90, 90, 90);
$color-table-font-dark: rgb(54, 54, 54);
$color-table-tbody-tr-background: #f3f2f3;
$color-table-border-top: #797979;

// font
$header-font-size: 5rem;
$label-font-size: 1.2rem;
$button-font-size: 1.4rem;
$table-font-size: 1.2rem;

// grid
$grid-width: 70rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
